<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Cистема тестирования знаний</span>
  </a>
  <% if current_user.present? # new_user_session %>
  <ul class="nav nav-pills">

    <% if params["controller"] == "profile" || params["controller"] =="missions"%>
    <li class="nav-item"><a href= <%= root_path %> class="nav-link active" aria-current="page">Тесты</a></li>
    <li class="nav-item"><a href=<%= edit_user_registration_path%> class="nav-link">Мой профиль</a></li>
      <% else %>
      <li class="nav-item"><a href= <%= root_path%> class="nav-link" aria-current="page">Тесты</a></li>
      <li class="nav-item"><a href=<%= edit_user_registration_path%> class="nav-link active">Мой профиль</a></li>
    <% end %>
  <%end %>
  </ul>
  <div class="col-md-3 text-end">
      <% if current_user.present? # new_user_session %>
      <%= form_with url: destroy_user_session_path, html: { method: :delete } do |f| %>
        <%= f.submit "Выйти", :class=>"btn btn-outline-primary me-2" %>

        <% end %>


      <% end %>
  </div>
</header>