
  <%=  render partial: "blocks/header"  %>
  <div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Добро пожаловать</h1>
        <p class="col-lg-10 fs-4">Данная система тестирования предназначена для работы со студентами кафедры КИ. Введите вашу почту и пароль. Если вы еще не зарегестировались, то пройдите её! </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <%= form_for(resource, as: resource_name, :html => {:class => 'p-4 p-md-5 border rounded-3 bg-light'}, url: session_path(resource_name)) do |f|  %>
          <div class="form-floating mb-3">
            <label for="floatingInput">Введите почту</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
          </div>
          <div class="form-floating mb-3">
            <label >Введите пароль</label>
            <%= f.password_field :password, autocomplete: "current-password", :class=>"form-control" %>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
          </div>
            <%= f.button "Войти" , {class: 'w-100 btn btn-lg btn-primary'}%>
          <hr class="my-4">
          <%= render "devise/shared/links" %>
          <small class="text-muted"></small>
        <% end %>
      </div>
    </div>
  </div>
