<%=  render partial: "blocks/header"  %>



    <% @group_missions.each do |group_mission|  %>
              <% mission= group_mission.mission %>
              <h1> <%= mission.title %></h1>
              <p class="fs-5 col-md-8"> <%= mission.instruction %></p>
              <%  unless @missions_completed_id.include? mission.id %>
                  <div class="mb-5">
                     <a href= <%=mission_path(mission.id) %> , class="btn btn-primary btn-lg px-4">Пройти тест</a>
                  </div>
              <% else %>
                    <% if @user.results.find_by(mission_id: mission.id).grade.nil? %>
                    <div class="card-body">
                      <p class="fs-5 col-md-8">Вы уже выполнили данныое задание. Ожидайте проверки преподавателя </p>
                    </div>
                    <% else %>
                      <div class="card-body">
                        <p class="fs-5 col-md-8t">Вы уже выполнили данное задание. Ваша оценка: <%= @user.results.find_by(mission_id: mission.id).grade %> </p>
                      </div>
                    <% end %>


              <% end %>

    <% end %>


